/* Global styles */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #070707;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand span {
    font-size: 24px;
    font-weight: bold;
  }
  
  .battery-level {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .battery-icon {
    display: inline-block;
    width: 20px;
    height: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    position: relative;
    margin-right: 5px;
  }
  
  .battery-icon::before {
    content: "";
    display: block;
    width: 80%;
    height: 80%;
    background-color: #4CAF50;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .battery-percentage {
    font-size: 14px;
    color:azure;
  }
  
  .navbar-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .btn {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary {
    background-color: #4CAF50;
    color: #fff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #3e8e41;
  }
  
  .btn-secondary {
    background-color: #f44336;
    color: #fff;
    border: none;
  }
  
  .btn-secondary:hover {
    background-color: #c62828;
  }
  
  .dashboard {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  .dashboard-left {
    flex-basis: 60%;
    border-right: 2px solid #ccc;
  }
  
  .dashboard-right {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
  }
  
  .dashboard-row {
    flex-basis: 50%;
    border-bottom: 2px solid #ccc;
    padding: 10px;
  }
  
  .dashboard-row:last-child {
    border-bottom: none;
  }
  
  .dashboard-surveillance {
    flex-basis: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .surveillance-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .rotate-left,
  .rotate-right {
    margin-right: 10px;
  }
  
  @media only screen and (max-width: 768px) {
    .dashboard {
      flex-direction: column;
    }
    
    .dashboard-left,
    .dashboard-right {
      flex-basis: 100%;
      border-right: none;
    }
    
    .dashboard-row {
      flex-basis: 100%;
      border-bottom: none;
    }
  }
  
  